*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}


.mainSection{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color:gray;
}

form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
}

form input{
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

form input:focus{
  border: 2px solid gray;
}

form button{
  padding: 10px;
  font-size: 16px;
  background-color: #4675a7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  align-self: center;
}


.imagesContainer{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;

}
.imagesContainer img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.imagesContainer p{
  width: 200px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}